<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PageFactory">
	<listeners>

		<listener class-name="com.sanqa.listeners.CustomListeners" />

		
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />

	</listeners>




	<test name="Flight Search Test">
		<classes>
			<class name="com.sanqa.rough.FlightSearchTest" />
		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
